.success {
    color: green;
    border: 5px solid green;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.error {
    color: red;
    border: 2px solid red;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}